main{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    height: auto;
    width: 100%;
}

.navbar{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #177263);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

h4{
    font-size: 1.1rem;
}

.texto-pequeño{
    font-size: 0.8rem;
}

.name{
    text-align: center;
    padding: 1rem 0rem;
} 

.container-fluid{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-family: system-ui;
}

.card:hover{
    transform:scale(1.05);
}

.card{
    width: 16rem;
    height: 22rem;
}

#backBtn, #nextBtn{
    display: none;
}

.margin{
    width: 25rem !important;
    height: 25rem !important;
}




@media (max-width: 767px){ /* movil  */

    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .card{
        width: 16rem;
        margin: 0rem 0rem 1rem 3rem;
        height: auto;
    }

    .margin{
        margin-left: 0rem;
    }

    body{
        background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
        height: auto;
        width: 100%;
    }
    .card-text, .type{
        font-size: 0.8rem;
    }

}

@media (min-width: 768px) and (max-width: 1023px) { /* Tables  */
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .card{
        width: 16rem;
        margin: 0rem 0rem 1rem 3rem;
    }

    .margin{
        margin-left: 0rem;
    }
    
    
}


@media (min-width: 1024px) { /* desktop  */
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    } 

    .card{
        width: 16rem;
        margin: 0rem 0rem 1rem 3rem;
    }

    .margin{
        margin-left: 0rem;
    }

}